<div>
  <h2 style="margin-left: 40px">Exam Management</h2>
</div>
<div style="margin-left: 40px">
  <h3>Edit Exam</h3>
  <span>Exam Title: </span><input [(ngModel)]="exam.title" required>
  <br>
  <ul *ngIf="exam?.questions">
    <h4>Question List</h4>
    <li *ngFor="let question of exam.questions; let i= index"
      style="list-style-type: none">
      <span>{{ i + 1 }}. </span><span>{{ question.title }} </span>
      <div>
        <img src="assets/img/bin.png" alt="remove question" style="width:20px">
      </div>
      <ul *ngIf="question?.choices">
        <li *ngFor="let choice of question.choices">
          <span [ngClass]="{'text-bold': choice.isValid}">{{ choice.content }}</span>
        </li>
      </ul>

    </li>
  </ul>
  <p *ngIf="!exam?.questions">There is no question in this exam.</p>
  <div>
    <button style="margin-right: 10px" (click)="back()">Back</button>
    <button [disabled]="!exam.title" (click)="saveExam()">Save</button>
  </div>
</div>
