table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  height: 20px;
  padding: 10px 10px !important;
  margin: 10px 40px !important;
  /* text-align: center !important; */
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

table {
  counter-reset: tableCount;
}
.counterCell:before {
  content: counter(tableCount);
  counter-increment: tableCount;
}
